<div id="update-project-<%= handle %>" class="modal">
  <div class="modal-background jb-modal-close"></div>
    <div class="modal-card">
      <%= form_with model: project, url: organization_project_update_path(project), method: :put do |form|  %>
        <header class="modal-card-head">
          <p class="modal-card-title">Update Project</p>
          <button class="delete jb-modal-close" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
          <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Name</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <%= form.text_field :name, class: 'input', required: true, autocomplete: :off %>
              </div>
            </div>
          </div>
        </div>
        </section>
        <footer class="modal-card-foot">
          <button type="button" class="button jb-modal-close">Cancel</button>
          <button type="submit" class="button is-warning">Update</button>
        </footer>
      <% end %>
    </div>
  <button class="modal-close is-large jb-modal-close" aria-label="close"></button>
</div>