<div id="delete-project-<%= handle %>" class="modal">
  <div class="modal-background jb-modal-close"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Delete Project</p>
        <button class="delete jb-modal-close" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
        <p>Are you sure you want to delete <%= project.name %>?</p>
      </section>
      <footer class="modal-card-foot">
        <button type="button" class="button jb-modal-close">Cancel</button>
        <%= link_to 'Delete', organization_project_delete_path(project), method: :delete, class: 'button is-danger' %>
      </footer>
    </div>
  <button class="modal-close is-large jb-modal-close" aria-label="close"></button>
</div>