<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @colleague.full_name %>. You are invited to join ORGANIZATION_NAME</h1>
    <a href="<%= @confirm_url %>">ACCEPT INVITATION</a>
  </body>
</html>