.artifact-card .artifact-card-image-container {
  display: flex;
  justify-content: center;
  min-height: 270px;
  min-width: 100%;
}

.artifact-card .artifact-card-name-container,
.artifact-card .artifact-card-buttons {
  display: flex;
  justify-content: center;
}

.artifact-card .artifact-card-buttons button {
  border: none;
}
