section.section.is-title-bar.is-title-bar-custom {
  padding-top: 1.5%;
  padding-bottom: 1.5%;
}

.is-title-bar-custom .level .level-left  .level-item ul li {
  font-size: 1rem;
}

.is-title-bar-custom .level .level-left  .level-item ul li a {
  color: #242424;
}