.toast {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 400px;
  padding: 20px;
  background: #cccccc;
  color: #333333;
  font-size: 0.75rem;
  font-weight: 700;
  text-align: center;
  border: 2px solid #aaaaaa;
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  visibility: hidden;
  opacity: 0;
  z-index: 99999999999;
  transition: opacity 0.2s,  top 0.2s,  visibility 0.2s; 
}

.toast--visible {
  top: 10px;
  opacity: 1;
  visibility: visible; 
}

.toast--success {
  background: #8fefcb;
  border-color: #8fefcb;
  color: #333333; 
}

.toast--error {
  background: #ef8fa6;
  border-color: #ef8fa6;
  color: white; 
}