<%= render 'components/breadcrumb', breadcrumbs: ['Colleagues'] %>

<section class="section section-main">
  <div class="card has-table has-mobile-sort-spaced">
    <div class="card-content">
      <div class="b-table has-pagination">
        <div class="table-wrapper has-mobile-cards">
          <table class="table is-fullwidth is-striped is-hoverable is-sortable is-fullwidth">
            <thead>

            <tr>
              <th></th>
              <th>Full Name</th>
              <th>Since</th>
              <th></th>
            </tr>
            </thead>

            <tbody>
              <% @colleagues.each do |colleague| %>

                <tr>
                  <td class="is-image-cell">
                    <div class="image">
                      <img src="https://avatars.dicebear.com/v2/initials/<%= colleague.full_name.parameterize %>.svg" class="is-rounded">
                    </div>
                  </td>
                  <td data-label="Name">
                    <%= colleague.full_name %>
                  </td>
                  <td data-label="Since">
                    <%= colleague.created_at %>
                  </td>
                  <td class="is-actions-cell"></td>
                </tr>
                
              <% end %>
            </tbody>

          </table>
        </div>
      </div>
    </div>
  </div>
</section>