.powered_by {
  display: flex;
  justify-content: center;
  align-items: center;
}

.powered_by p {
  margin-top: 2.5%;
  display: flex;
  align-items: center;
}

.powered_by p img {
  width: 20%;
  margin-left: 2.5%;
}