.project {

  .project-header {
    border: none;
    min-height: 35vh;
    padding: 0.75rem 1rem;
    background-image: linear-gradient(to right, hsla(0, 0, 89%, 50%), hsla(0, 0, 29%, 50%))
  }

  .project-name {
    font-size: 3.5rem;
  }

  .level-left,
  .level-right {
    max-width: 50%;
  }
  
  .card-header {
    margin-top: 0;
    border-radius: 4px;
  }

  .card-header .card-header-title {
    font-size: 1.5rem;
    border-bottom: 2px solid #2c2c2c;
    border-radius: 4px;
  }

  .card-header .card-header-title .icon {
    margin-right: 1%;
  }

  .project-artifact-cards {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr;

    .artifact-card .artifact-card-image-container {
      display: flex;
      justify-content: center;
      min-height: 270px;
      min-width: 100%;
    }

    .artifact-card .artifact-card-name-container,
    .artifact-card .artifact-card-buttons {
      display: flex;
      justify-content: center;
    }

    .artifact-card .artifact-card-buttons button {
      border: none;
    }

    .artifact-card .artifact-card-buttons button.button-view {
      color: hsl(141, 53%, 53%);
    }

    .artifact-card .artifact-card-buttons button.button-update {
      color: hsl(48, 100%, 67%);
    }

    .artifact-card .artifact-card-buttons button.button-delete {
      color: hsl(348, 100%, 61%);
    }
  }

}